<html>
    <head>
        <meta charset="utf-8">
        <title>Fruits App</title>
    </head>
    <body>
        <h1>Fruits Index Page</h1>
        <nav>
             <a href="/fruits/new/">Create New Fruit</a> 
        </nav>
        <ul>
            <% for(let i = 0; i < allFruits.length; i++){ %>

                <li>
                    <a href="/fruits/<%= i %>">
                        <%= allFruits[i].name %>
                    </a>
                </li>

            <% } %>
        </ul>
    </body>
</html>